rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isMaster() {
      return isSignedIn() &&
        exists(/databases/$(database)/documents/masters/$(request.auth.uid));
    }

    match /masters/{uid} {
      allow read: if isMaster();
      allow write: if false;
    }

    match /users/{userId} {
      allow read: if isSignedIn();
      allow write: if isSignedIn() && request.auth.uid == userId;
    }

    match /characters/{characterId} {
      allow read: if isSignedIn() && (
        resource.data.ownerUid == request.auth.uid || isMaster()
      );

      allow create: if isSignedIn() && 
        request.resource.data.ownerUid == request.auth.uid;

      allow update, delete: if isSignedIn() && (
        resource.data.ownerUid == request.auth.uid || isMaster()
      );
    }

    match /logs/{logId} {
      allow create: if isSignedIn();
      allow read: if isMaster();
      allow update, delete: if false;
    }
  }
}